@keyframes Lamp {
  0%   {  background: radial-gradient(circle at top, #0069004F 0.5%, transparent 20%);  }
  5%   {  background: radial-gradient(circle at top, #0069004F 0.75%, transparent 20.5%);  }
  10%  {  background: radial-gradient(circle at top, #0069004F 1%, transparent 21%);  }
  15%  {  background: radial-gradient(circle at top, #0069004F 1.25%, transparent 21.5%);  }
  20%  {  background: radial-gradient(circle at top, #0069004F 1.5%, transparent 22%);  }
  25%  {  background: radial-gradient(circle at top, #0069004F 1.75%, transparent 22.5%);  }
  30%  {  background: radial-gradient(circle at top, #0069004F 2%, transparent 23%);  }
  35%  {  background: radial-gradient(circle at top, #0069004F 2.25%, transparent 23.5%);  }
  40%  {  background: radial-gradient(circle at top, #0069004F 2.5%, transparent 24%);  }
  45%  {  background: radial-gradient(circle at top, #0069004F 2.75%, transparent 24.5%);  }
  50%  {  background: radial-gradient(circle at top, #0069004F 3%, transparent 25%);  }
  55%  {  background: radial-gradient(circle at top, #0069004F 3.25%, transparent 25.5%);  }
  60%  {  background: radial-gradient(circle at top, #0069004F 3.5%, transparent 26%);  }
  65%  {  background: radial-gradient(circle at top, #0069004F 3.75%, transparent 26.5%);  }
  70%  {  background: radial-gradient(circle at top, #0069004F 4%, transparent 27%);  }
  75%  {  background: radial-gradient(circle at top, #0069004F 4.25%, transparent 27.5%);  }
  80%  {  background: radial-gradient(circle at top, #0069004F 4.5%, transparent 28%);  }
  85%  {  background: radial-gradient(circle at top, #0069004F 4.75%, transparent 28.5%);  }
  90%  {  background: radial-gradient(circle at top, #0069004F 5%, transparent 29%);  }
  95%  {  background: radial-gradient(circle at top, #0069004F 5.25%, transparent 29.5%);  }
  100% {  background: radial-gradient(circle at top, #0069004F 5.5%, transparent 30%);  }
}