@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

:root {
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media screen and (min-width: 1001px) {
  body {
    background: radial-gradient(circle at top, #0069004F 5%, transparent 25%);
    animation-name: Lamp;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
}

body.centerMode {
  place-items: center;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 15px;
  background: #00000080;
}

main {
  width: 80%;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 20%;
  padding: 8rem;
  font-family: Outfit;
}

body.centerMode main {
  padding: 5rem;
  margin-left: 20%;
  margin-right: 0;
  text-align: center;
}

img:not(.unsetBorderRadius) {
  border-radius: 10px;
}

img.glowOnHover {
  transition: 100ms;
}

@media screen and (min-width: 1001px) {
  img.glowOnHover:hover {
    filter: drop-shadow(0 0 100px #006900);
  }
}

img.floatRight {
  float: right;
  margin-left: 10px;
}

img.floatLeft {
  float: left;
  margin-right: 10px;
}

aside img {
  width: 100%;
}

aside a {
  color: #7CEC7C;
}

aside a.active:not(:hover, :active, :focus) {
  text-shadow: 0 0 15px #6ba36b;
}

aside a:hover {
  color: #52BE52;
}

aside a:active,
aside a:focus {
  color: #379237;
}

main {
  display: flex;
  flex-direction: column;
  place-items: center;
}

main img {
  max-width: 100%;
}

main p,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main small,
main ul,
main ol,
main div.textblock {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

button#menuToggler {
  position: fixed;
  top: 5%;
  left: 2.5%;
}

.mobileOnly {
  display: none;
}

.pcOnly {
  display: initial;
}

div#launch {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #242424E0;
  place-items: center;
  text-align: center;
  backdrop-filter: blur(5px);
}

div#launch img {
  margin-top: 15%;
  width: 256px;
}

div#launch h1,
div#launch p {
  width: 100%;
}

a {
  color: #85C4FF;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: 100ms;
}

a:hover {
  color: #5594CF;
}

a:active,
a:focus {
  color: #346EA5;
}

a[onclick="goBack()"] {
  width: 100%;
}

button {
  border: none;
  border-radius: 5px;
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: 100ms;
}

input {
  border: none;
  outline: 0px #1A1B1A solid;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: 100ms;
}

input:focus {
  outline: 5px #1A1B1A solid;
}

div#infobox {
  position: fixed;
  right: 5%;
  bottom: -50%;
  background: #414040F0;
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  transition: bottom 250ms;
}

div#infobox.visible {
  bottom: 5%;
}

div#infobox img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #6363637C;
  height: 100%;
}

div#infobox p {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

div#infobox button {
  background: #6363637C;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 24px;
}

div#infobox button:hover {
  opacity: 0.8;
}

div#infobox button:active,
div#infobox button:focus {
  opacity: 0.6;
}

div.indented {
  padding-left: 15px;
  border-left: 5px #FFFFFF20 solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

div.tip,
div.warning,
div.danger {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

div.tip {
  background: #00690020;
  border-left: 5px #006900 solid;
}

div.warning {
  background: #69480020;
  border-left: 5px #694800 solid;
}

div.danger {
  background: #69100020;
  border-left: 5px #691000 solid;
}

div.textblock {
  background: #00000080;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 20px;
  margin-top: 20px;
  white-space: pre-wrap;
}

div.textblock button {
  background: #00000080;
  margin-top: 0;
  padding: 5px 10px;
  float: right;
  transition: 100ms;
}

div.textblock button:hover {
  transform: scale(0.95);
  opacity: 0.6;
}

div.textblock button:active,
div.textblock button:focus {
  transform: scale(0.90);
  opacity: 0.4;
}

div.external-resource {
  display: flex;
  flex-direction: row;
  background: #00000080;
  padding: 20px;
  gap: 20px;
  height: 150px;
  border-radius: 10px;
}

div.external-resource button {
  background: #00000080;
  width: 200px;
}

h1 button,
h2 button,
h3 button,
h4 button,
h5 button,
h6 button {
  display: none;
  background: #00000080;
  margin-left: 10px;
  padding: 5px 10px;
  transform: scale(0.90);
  opacity: 0;
  transition: 100ms;
}

h1:hover button,
h2:hover button,
h3:hover button,
h4:hover button,
h5:hover button,
h6:hover button {
  display: inline-block;
  opacity: 0.2;
}

h1 button:hover,
h2 button:hover,
h3 button:hover,
h4 button:hover,
h5 button:hover,
h6 button:hover {
  transform: scale(0.85);
  opacity: 0.6;
}

h1 button:active, h1 button:focus,
h2 button:active, h2 button:focus,
h3 button:active, h3 button:focus,
h4 button:active, h4 button:focus,
h5 button:active, h5 button:focus,
h6 button:active, h6 button:focus {
  transform: scale(0.80);
  opacity: 1.0;
}

small {
  opacity: 0.5;
}

small.error {
  color: #ffad9f;
}

ul,
ol {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50px;
}

ul.dense-list li:not(:first-child),
ol.dense-list li:not(:first-child) {
  margin-top: 20px;
}

code {
  background: #00000080;
  padding: 5px;
  border-radius: 5px;
}

dfn {
  color: #DAC798;
  cursor: pointer;
  transition: 100ms;
}

dfn:hover {
  color: #9c803a;
}

dfn:active,
dfn:focus {
  color: #796126;
}

iframe {
  width: 100%;
  height: 720px;
  border: none;
}

kbd {
  background: #0A0A0A;
  padding: 2.5px 7.5px;
  border-bottom: 3px #363636 solid;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 100ms;
}

kbd:active {
  border-bottom: none;
  filter: brightness(60%);
}