@media screen and (max-width: 1000px) {

  body.centerMode main,
  main {
    margin-left: 0px;
  }

  aside {
    display: none;
    width: 30%;
  }

  .mobileOnly {
    display: initial;
  }

  .pcOnly {
    display: none;
  }

  div#infobox {
    right: 0;
    width: 100%;
    border-radius: 0;
  }

  div#infobox button,
  div#infobox img {
    border-radius: 0;
  }

  div#infobox.visible {
    bottom: 0;
  }

}

@media screen and (max-width: 720px) {

  aside {
    background: #0000008F;
    width: 45%;
  }

}

@media screen and (max-width: 600px) {

  aside {
    background: #000000AF;
    width: 50%;
  }

}

@media screen and (max-width: 500px) {

  aside {
    background: #000000FF;
    width: 100%;
  }

}