main img {
  max-width: 100%;
}

main p,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main small,
main ul,
main ol,
main div.textblock {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

a {
  color: #85C4FF;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: 100ms;
}

a:hover {
  color: #5594CF;
}

a:active,
a:focus {
  color: #346EA5;
}

a[onclick="goBack()"] {
  width: 100%;
}

button {
  background: #00000080;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: 100ms;
}

button:hover {
  background: #00000040;
}

button:active {
  background: #00000020;
}

button + button {
  margin-left: 10px;
}

button.danger {
  background: #E72300A0 !important;
}

button.danger:hover {
  background: #E7230080 !important;
}

button.danger:active {
  background: #E7230040 !important;
}

img:not(.unsetBorderRadius) {
  border-radius: 10px;
}

img.glowOnHover.animate {
  transition: 100ms;
}

@media screen and (min-width: 1001px) {
  img.glowOnHover.animate:hover {
    filter: drop-shadow(0 0 100px #006900);
  }
}

img.floatRight {
  float: right;
  margin-left: 10px;
}

img.floatLeft {
  float: left;
  margin-right: 10px;
}

input {
  border: none;
  outline: 0px #1A1B1A solid;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  transition: 100ms;
}

input[type="color"] {
  padding: 0;
  background: content-box;
}

input[type="color"].square {  
  width: 50px;
  height: 50px;
}

input:focus {
  outline: 5px #1A1B1A solid;
}

div.indented {
  padding-left: 15px;
  border-left: 5px #FFFFFF20 solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

div.tip,
div.warning,
div.danger {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
}

div.tip {
  background: #00690020;
  border-left: 5px #006900 solid;
}

div.warning {
  background: #69480020;
  border-left: 5px #694800 solid;
}

div.danger {
  background: #69100020;
  border-left: 5px #691000 solid;
}

div.textblock {
  background: #00000080;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 20px;
  margin-top: 20px;
  white-space: pre-wrap;
}

div.textblock button {
  background: #00000080;
  margin-top: 0;
  padding: 5px 10px;
  float: right;
  transition: 100ms;
}

div.textblock button:hover {
  transform: scale(0.95);
  opacity: 0.6;
}

div.textblock button:active,
div.textblock button:focus {
  transform: scale(0.90);
  opacity: 0.4;
}

div.external-resource {
  display: flex;
  flex-direction: row;
  background: #00000080;
  padding: 20px;
  gap: 20px;
  height: 150px;
  border-radius: 10px;
}

div.external-resource button {
  background: #00000080;
  width: 200px;
}

h1 button,
h2 button,
h3 button,
h4 button,
h5 button,
h6 button {
  display: none;
  background: #00000080;
  margin-left: 10px;
  padding: 5px 10px;
  transform: scale(0.90);
  opacity: 0;
  transition: 100ms;
}

h1:hover button,
h2:hover button,
h3:hover button,
h4:hover button,
h5:hover button,
h6:hover button {
  display: inline-block;
  opacity: 0.2;
}

h1 button:hover,
h2 button:hover,
h3 button:hover,
h4 button:hover,
h5 button:hover,
h6 button:hover {
  transform: scale(0.85);
  opacity: 0.6;
}

h1 button:active, h1 button:focus,
h2 button:active, h2 button:focus,
h3 button:active, h3 button:focus,
h4 button:active, h4 button:focus,
h5 button:active, h5 button:focus,
h6 button:active, h6 button:focus {
  transform: scale(0.80);
  opacity: 1.0;
}

small {
  opacity: 0.5;
}

small.error {
  color: #ffad9f;
}

ul,
ol {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 50px;
}

ul.dense-list li:not(:first-child),
ol.dense-list li:not(:first-child) {
  margin-top: 20px;
}

code {
  background: #00000080;
  padding: 5px;
  border-radius: 5px;
}

dfn {
  color: #DAC798;
  cursor: help;
  transition: 100ms;
}

dfn:hover {
  color: #9c803a;
}

dfn:active,
dfn:focus {
  color: #796126;
}

iframe {
  width: 100%;
  height: 720px;
  border: none;
}

kbd {
  background: #0A0A0A;
  padding: 2.5px 7.5px;
  border-bottom: 3px #363636 solid;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 100ms;
}

kbd:active {
  border-bottom: none;
  filter: brightness(60%);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.25;
}

table {
  margin-top: 15px;
  margin-bottom: 15px;
  border-collapse: collapse;
  min-width: 50%;
}

table, td, th {
  border: 1px #FFFFFF40 solid;
}

td, th {
  padding: 10px;
}

th {
  background: #FFFFFF10;
  text-align: center;
}

td {
  text-align: left;
  vertical-align: top;
}

p.indented {
  background: #00000010;
  padding: 10px;
  padding-left: 15px;
  border-left: 5px #00000080 solid;
  border-radius: 5px;
}